@font-face {
    font-family: 'LuckiestGuy-Regular';
    src: url('./fonts/LuckiestGuy-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/underwater2.jpg');
    background-position: center top;    
    font-family: 'LuckiestGuy-Regular', 'sharkparty', 'Arial', 'Helvetica', 'sans-serif';
    color: antiquewhite;   
}

h1 {
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.startscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;    
        
}

.startscreen img {
    cursor: pointer;
}

.startscreen img:hover {
   transform: scale(1.03);
   transition: all 50ms ease-in-out;
}

.menu-choise {
    display: flex;   
    justify-content: center;
    align-items: center;
    
}

.menu-choise img {
    margin: 5px;
    height: 100px;
    width: auto;
}

.start-button img {
    cursor: pointer;
}

.start-button img:hover {
    transform: scale(1.1);
    transition: all 50ms ease-in-out;
}

.tutorial {
    
    display: none;
    flex-direction: column;
    align-items: center;
}

.tutorial img {
    height: 100px;
    width: auto;

}

.description {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.description img {
    width: auto;
    height: 80px;
}

.description_1 {
    font-size: 24px;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description_2 {
    margin-top: 15px;
    color: yellow;
    
}

canvas {
    
    background-color: black;
    border-radius: 15px;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.25) ;
}